<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Página de Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="page">
        <form class="formLogin" action="/api/login" method="post">
          <img class="formImg" src="../static/waterBota2.png" alt="">
          <h1 class="formTitle">Bem-vindo!</h1>
          <input class="form-control" type="text" name="username" placeholder="Usuário" />
          <input class="form-control" type="password" name="password" placeholder="Senha" />
          <input class="form-control" type="submit" value="Entrar" />
        </form>
      </div>
    </div>
  </body>
</html>
