<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Página de login inválido</title>
    <style>
      body {
        background-color: #eee;
        font-family: sans-serif;
      }

      .container {
        width: 300px;
        margin: 0 auto;
      }

      h1 {
        text-align: center;
      }

      p {
        margin-bottom: 10px;
      }

      a {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Login inválido</h1>
      <p>O usuário ou senha fornecidos são inválidos.</p>
      <a href="javascript:history.back()">Tente novamente</a>
    </div>
  </body>
</html>
